*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
html { background: transparent !important; }
body { background: transparent !important; overflow: hidden; line-height: 1; }
ol, ul { list-style: none; }
::-webkit-inner-spin-button, ::-webkit-outer-spin-button { display: none; }